html {
  @apply text-base;
  -webkit-text-size-adjust: 100%;
}
body {
  font-synthesis: style;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  @apply m-0;
}
strong,
b {
  @apply font-semibold;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  @apply touch-manipulation;
}
ol,
ul {
  @apply m-0 p-0;
  list-style: none;
}
blockquote {
  @apply m-0;
}
pre,
code,
kbd,
samp {
  font-family: monospace;
}
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  @apply break-words;
}